<div class="modal fade" id="create_device">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form method="POST" action="{%url 'manage_add_device' %}">
        {% csrf_token %}
        <div class="modal-header">
          <p class="h4"><span class="bi bi-patch-plus"></span>  Nowe Urządzenie</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <hr>
        <div class="modal-body">

          <div class="container-fluid">
            <div class="row">
              <div class="col p2">
               <div class="form-group mb-2">
                  <label for="switch_board">Rozdzielnia</label>
                  <select class="form-select" id="switch_board" name="switch_board" required>
                    {% for switch_board in switch_boards %}
                    <option value="{{ switch_board.id }}">{{ switch_board.name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group mb-2">
                  <label for="uuid">UUID</label>
                  <input id="uuid" type="text" class="form-control form-control-sm" name="uuid" required minlength="2" maxlength="32">
                </div>
                <div class="form-group mb-2">
                  <label for="type">Typ urzadzenia</label>
                  <select class="form-select" id="type" name="type" required>
                    <option value="LP_MAX">LP_MAX</option>
                    <option value="LP_LYRA">LP_LYRA</option>
                    <option value="SIM">SIM</option>
                  </select>
                </div>
                <div class="form-group mb-2">
                  <label for="installed_date">Data instalacji</label>
                  <input id="installed_date" type="date" class="form-control form-control-sm" name="installed_date" required>
                </div>
                <div class="form-group mb-2">
                  <label for="password">Hasło (Pozostaw puste jeżeli chcesz zachować poprzednie)</label>
                  <input id="password" type="password" class="form-control form-control-sm" name="password" maxlength="64">
                </div>
                <div class="form-group mb-2">
                  <label for="description">Opis</label>
                  <input id="description" type="text" class="form-control form-control-sm" name="description" required minlength="4" maxlength="128">
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="is_active">
                  <label class="form-check-label">Aktywny</label>
                </div>

              </div>
              <div class="col p-2">
                  <div class="form-group mb-2">
                  <label for="polling_interval">Interwał Próbkowania [s]</label>
                  <input class="form-control form-control-sm" type="number" id=polling_interval" name="polling_interval" min="60" max="43200" value="1800">
                </div>
                <div class="form-group mb-2">
                  <label for="flushing_interval">Interwał Wysyłania [s]</label>
                  <input class="form-control form-control-sm" type="number" name="flushing_interval" id="flushing_interval" min="30" max="43200" value="1800">
                </div>
                <div class="form-group mb-2">
                  <label for="flushing_interval">Kanały</label>
                </div>
                <div class="form-group mb-2">
                  <button type="button" class="btn btn-sm btn-dark add-port-row-btn"><span class="bi bi-plus-square"></span> Dodaj</button>

                  <div style="max-height:300px; overflow-y: auto">
                    <table class="table table-striped">
                    <thead>
                    <tr class="table-secondary">
                      <th class="visually-hidden">ID</th>
                      <th class="small">Nazwa</th>
                      <th class="small">UART</th>
                      <th class="small">BAUD</th>
                      <th class="small">PARITY</th>
                      <th class="small">STOPBITS</th>
                      <th class="small">DATA LEN</th>
                      <th class="small">Akcja</th>
                    </tr>
                    </thead>
                    <tbody class="ports-table-body">

                    </tbody>
                  </table>
                  </div>
                  <template id="port-row-template">
                    <tr>
                      <td class="visually-hidden">ID</td>
                      <td><input class="form-control form-control-sm" name="names[]" type="text" maxlength="8" minlength="1" placeholder="A" required></td>
                      <td><input class="form-control form-control-sm" name="uart[]" type="text" maxlength="16" minlength="4" placeholder="/dev/null" required></td>
                      <td>
                        <select class="form-select form-select-sm" name="baud[]" required>
                          <option value="9600" selected>9600</option>
                          <option value="19200">19200</option>
                          <option value="34800">34800</option>
                          <option value="57600">57600</option>
                          <option value="115200">115200</option>
                        </select>
                      </td>
                      <td>
                        <select class="form-select form-select-sm" name="parity[]" required>
                          <option value="N" selected>N</option>
                          <option value="E">E</option>
                          <option value="O">O</option>
                        </select>
                      </td>
                      <td>
                        <select class="form-select form-select-sm" name="stopbits[]" required>
                          <option value="1" selected>1</option>
                          <option value="2">2</option>
                        </select>
                      </td>
                      <td>
                        <select class="form-select form-select-sm" name="datalen[]" required>
                          <option value="8" selected>8</option>
                          <option value="7">7</option>
                        </select>
                      </td>
                      <td>
                        <button type="button" class="btn btn-sm btn-outline-danger del-port-row-btn">X</button>
                      </td>
                    </tr>
                  </template>
                  </div>

              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-outline-success"><span class="bi bi-plus-square"></span>  Utwórz</button>
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal"><span class="bi bi-x-square"></span>  Anuluj</button>
          </div>
      </form>
    </div>
  </div>
</div>