<div class="modal fade" id="manage_add_alert">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="POST" action="{%url 'manage_add_alert' %}">
        {% csrf_token %}
        <div class="modal-header">
          <p class="h4"><span class="bi bi-patch-plus"></span>  Nowy Profil Zdarzeń</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <hr>
        <div class="modal-body">
          <div class="form-group mb-2">
            <label for="name">Nazwa</label>
            <input id="name" type="text" class="form-control form-control-sm" name="name" required value="" minlength="4" maxlength="64">
          </div>
        <div class="form-group mb-2">
          <input type="checkbox" class="form-check-input form-check-input-sm" id ="is_active" name="is_active" checked>
          <label class="form-check-label" for="is_active">Aktywny</label>
        </div>
          <hr>
        <div class="w-auto">
          <h6>Wybór faz</h6>

          <table class="table table-striped  table-borderless w-auto ">
            <tr>
              <th class="small">L1</th>
              <th class="small">L2</th>
              <th class="small">L3</th>
            </tr>
            <tr>
              <td>
                <input type="checkbox" class="form-check-input form-check-input-sm" id ="fl1_active" name="fl1_active" checked>
              </td>
              <td>
                 <input type="checkbox" class="form-check-input form-check-input-sm" id ="fl2_active" name="fl2_active" checked>
              </td>
              <td>
                <input type="checkbox" class="form-check-input form-check-input-sm" id ="fl3_active" name="fl3_active" checked>
              </td>
            </tr>
          </table>
        </div>
        <hr>
          <div class="form-group mb-2">
            <table class="table table-responsive table-borderless table-striped">
              <tr>
                <th class="">Nazwa</th>
                <th class="">Aktywny</th>
                <th class="">Minimum</th>
                <th class="">Maksimum</th>
                <th class="">Jednostka</th>
              </tr>
              <tr>
                <td class="small">
                  Napięcie
                </td>
                <td>
                  <input type="checkbox" class="form-check-input form-check-input-sm" id="fvoltage_active" name="fvoltage_active" checked>
                </td>
                <td>
                  <input id="fvoltage_min" type="number" class="form-control form-control-sm" name="fvoltage_min" required value="207" min="-400" max="400">
                </td>
                <td>
                  <input id="fvoltage_max" type="number" class="form-control form-control-sm" name="fvoltage_max" required value="253" min="-400" max="400">
                </td>
                <td class="small">[V]</td>
              </tr>
              <tr>
                <td class="small">
                  Prąd
                </td>
                <td>
                  <input type="checkbox" class="form-check-input form-check-input-sm" id="fcurrent_active" name="fcurrent_active" checked>
                </td>
                <td>
                  <input id="fcurrent_min" type="number" class="form-control form-control-sm" name="fcurrent_min" required value="0" min="-255" max="255">
                </td>
                <td>
                  <input id="fcurrent_max" type="number" class="form-control form-control-sm" name="fcurrent_max" required value="80" min="-255" max="255">
                </td>
                <td class="small">[A]</td>
              </tr>
              <tr>
                <td class="small">
                  Częstotliwość
                </td>
                <td>
                  <input type="checkbox" class="form-check-input form-check-input-sm" id="ffrequency_active" name="ffrequency_active" checked>
                </td>
                <td>
                  <input id="ffrequency_min" type="number" class="form-control form-control-sm" name="ffrequency_min" required value="49.5" step="0.1" min="-500" max="500">
                </td>
                <td>
                  <input id="ffrequency_max" type="number" class="form-control form-control-sm" name="ffrequency_max" required value="50.5" step="0.1" min="-500" max="500">
                </td>
                <td class="small">[Hz]</td>
              </tr>
              <tr>
                <td class="small">
                  Moc czynna
                </td>
                <td>
                  <input type="checkbox" class="form-check-input form-check-input-sm" id="factive_power_active" name="factive_power_active" checked>
                </td>
                <td>
                  <input id="factive_power_min" type="number" class="form-control form-control-sm" name="factive_power_min" required value="-18400" min="-100000" max="100000">
                </td>
                <td>
                  <input id="factive_power_max" type="number" class="form-control form-control-sm" name="factive_power_max" required value="18400" min="-100000" max="100000">
                </td>
                <td class="small">[W]</td>
              </tr>
              <tr>
                <td class="small">
                  Moc Bierna
                </td>
                <td>
                  <input type="checkbox" class="form-check-input form-check-input-sm" id="freactive_power_active" name="freactive_power_active" checked>
                </td>
                <td>
                  <input id="freactive_power_min" type="number" class="form-control form-control-sm" name="freactive_power_min" required value="-18400" min="-100000" max="100000">
                </td>
                <td>
                  <input id="freactive_power_max" type="number" class="form-control form-control-sm" name="freactive_power_max" required value="18400" min="-100000" max="100000">
                </td>
                <td class="small">[W]</td>
              </tr>
              <tr>
                <td class="small">
                  Jakość
                </td>
                <td>
                  <input type="checkbox" class="form-check-input form-check-input-sm" id ="fpower_factor_active" name="fpower_factor_active" checked>
                </td>
                <td>
                  <input id="fpower_factor_min" type="number" class="form-control form-control-sm" name="fpower_factor_min" required value="0.2" min="0.0" max="1.0" step="0.1">
                </td>
                <td>
                  <input id="fpower_factor_max" type="number" class="form-control form-control-sm" name="fpower_factor_max" required value="1.0" min="0.0" max="1.0" step="0.1">
                </td>
                <td class="small">[cos(φ)]</td>
              </tr>
            </table>
            <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-outline-success"><span class="bi bi-plus-square"></span>  Utwórz</button>
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal"><span class="bi bi-x-square"></span>  Anuluj</button>
          </div>
        </div>

          </div>
      </form>
    </div>
  </div>
</div>