<div class="modal fade" id="manage_edit_room{{ room.id}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="POST" action="{%url 'manage_edit_room' room.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <p class="h4"><span class="bi bi-pencil-square"></span>  Pomieszczenie <i>{{ room.name }}</i> </p>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <hr>
        <div class="modal-body">
          <div class="form-group mb-2">
            <label for="name">Nazwa</label>
            <input id="name" type="text" class="form-control form-control-sm" name="name" required value="{{ room.name }}" minlength="2" maxlength="32">
          </div>
          <div class="form-group mb-2">
            <label for="number">Numer</label>
            <input id="number" type="text" class="form-control form-control-sm" name="number" required value="{{ room.number }}"  minlength="2" maxlength="16">
          </div>
          <div class="form-group mb-2">
            <label for="client_id">Klient</label>
            <select class="form-select" id="client_id" name="client_id">
              <option value="" selected>--Brak --</option>
              {% for client in clients %}
              <option value="{{ client.id }}" {% if room.room_group.id == client.id %} selected {% endif %}>{{ client.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="start_lease_date">Początek Najmu</label>
            <input id="start_lease_date" type="date" class="form-control form-control-sm" name="start_lease_date" value="{{ room.start_lease_date|date:'Y-m-d' }}">
          </div>
          <div class="form-group mb-2">
            <label for="end_lease_date">Koniec Najmu</label>
            <input id="end_lease_date" type="date" class="form-control form-control-sm" name="end_lease_date" value="{{ room.end_lease_date|date:'Y-m-d' }}">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-outline-success"><span class="bi bi-floppy"></span>  Zapisz</button>
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal"><span class="bi bi-x-square"></span>  Anuluj</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>