<div class="modal fade" id="manage_edit_client{{ client.id}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="POST" action="{%url 'manage_edit_client' client.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <p class="h4"><span class="bi bi-pencil-square"></span>  Grupa <i>{{ client.name }}</i> </p>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <hr>
        <div class="modal-body">
          <div class="form-group mb-2">
            <label for="name">Nazwa</label>
            <input id="name" type="text" class="form-control form-control-sm" name="name" required value="{{ client.name }}">
          </div>
          <div class="form-group mb-2">
            <label for="description">Opis</label>
            <input id="description" type="text" class="form-control form-control-sm" name="description" required value="{{ client.description }}">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-outline-success"><span class="bi bi-floppy"></span>  Zapisz</button>
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal"><span class="bi bi-x-square"></span>  Anuluj</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>