@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat, Arial, sans-serif;
}

.rounded-table-container {
    display: inline-block; /* Ensures auto width */
    overflow: hidden; /* Ensures the table respects the rounded corners */
}

.rounded-table-container table {
    background-color: inherit; /* Ensures table takes the same bg */
}

.rounded-table-container th,
.rounded-table-container td {
    background-color: inherit !important; /* Applies bg-body-tertiary to all cells */
    padding-right: 2em;
}