# Python
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environment
.venv
.


# Django
*.log
local_settings.py
db.sqlite3
media/
# Migrations

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
