{% extends 'core/base.html' %}
{% block aside %} {% include 'core/side_panel.html' with role=request.user.userrole.role %}
{% endblock %}
{% block main %}
<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <p class="h3">{{ request.user.first_name }} {{ request.user.last_name }} <small>({{ request.user.userrole.get_role_display }})</small></p>
  <p class="h3">Centrum Wiadomości</p>
</div>

<hr class="mb-2">

<div class="mb-2">
  <button type="button" class="btn btn-sm btn-dark my-2" data-bs-toggle="modal" data-bs-target="#message_add"><span class="bi bi-plus-square"></span> Nowa Wiadomość</button>
 </div>

<hr class="mb-2">
{% block modal %}
{% include 'core/modals/add_message.html' with role=role %}
{% endblock %}

<div class="row mb-2">
    <div class="col-lg-12">
    <div class="card shadow">
      <div class="card-header py-3">
        <p class="h6 m-0 font-weight-bold text-color">Wiadomości

        </p>
      </div>
      <div class="card-body">
      <table class="table table-striped">
          <form method="GET" action="{%url 'message_center' %}">
          <thead class="table-secondary">
          <tr>
            <th class="small" scope="col"></th>
            <th class="small" scope="col">Autor</th>
            <th class="small" scope="col">Tytuł</th>
            <th class="small" scope="col">Administrator</th>
            <th class="small" scope="col">Operator</th>
            <th class="small" scope="col">Użytkownik</th>
            <th class="small" scope="col">Data utworzenia</th>
            <th class="small" scope="col">Status</th>
            <th class="small" scope="col">Akcja</th>
          </tr>
          <tr>
            <th></th>
             <th class="small" scope="col">
               <div class="btn-group me-2" role="group" aria-label="">
                 <select class="form-select form-select-sm form-control" id="fauthor" name="fauthor">
                  <option value="" {% if not form_vals.fauthor %} {%endif%}>Pusty</option>
                  {% for user in authors %}
                   <option value="{{user.id}}" {% if form_vals.fauthor == user.id|stringformat:"s" %} selected {%endif%}>{{ user.first_name }} {{ user.last_name }} ({{ user.userrole.client.name }})</option>
                   {% endfor %}
                </select>
               </div>
             </th>
             <th class="small" scope="col">
               <div class="btn-group me-2" role="group" aria-label="">
               <input type="text" class="form-control form-control-sm clearable-input" name="ftitle" id="ftitle" value="{{ form_vals.ftitle }}">
                 <button type="button" class="btn btn-sm clear-btn btn-outline-danger"><span class="bi bi-archive" title="Wyczyść filtr"></span></button>
               </div>
             </th>

            <th class="small" scope="col">
               <div class="btn-group me-2" role="group" aria-label="">
                 <select class="form-select form-select-sm form-control" id="fadmin" name="fadmin">
                  <option value="" {% if not form_vals.fadmin %} {%endif%}>Pusty</option>
                  {% for user in admins %}
                   <option value="{{user.id}}" {% if form_vals.fadmin == user.id|stringformat:"s" %} selected {%endif%}>{{ user.first_name }} {{ user.last_name }}</option>
                   {% endfor %}
                </select>
               </div>
             </th>
            <th class="small" scope="col">
               <div class="btn-group me-2" role="group" aria-label="">
                 <select class="form-select form-select-sm form-control" id="foperator" name="foperator">
                  <option value="" {% if not form_vals.foperator %} {%endif%}>Pusty</option>
                  {% for user in operators %}
                   <option value="{{user.id}}" {% if form_vals.foperator == user.id|stringformat:"s" %} selected {%endif%}>{{ user.first_name }} {{ user.last_name }}</option>
                   {% endfor %}
                </select>
               </div>
             </th>
            <th class="small" scope="col">
               <div class="btn-group me-2" role="group" aria-label="">
                 <select class="form-select form-select-sm form-control" id="fuser" name="fuser">
                  <option value="" {% if not form_vals.fuser %} {%endif%}>Pusty</option>
                  {% for user in standard_users %}
                   <option value="{{user.id}}" {% if form_vals.fuser == user.id|stringformat:"s" %} selected {%endif%}>{{ user.first_name }} {{ user.last_name }} ({{ user.userrole.client.name }})</option>
                   {% endfor %}
                </select>
               </div>
             </th>
            <th class="small" scope="col"></th>

            <th class="small" scope="col">
               <select class="form-select form-select-sm form-control" id="fstatus" name="fstatus">
                  <option value="" {% if not form_vals.fstatus %} {%endif%}>Pusty</option>
                  <option value="new" {% if form_vals.fstatus == 'new' %} selected {%endif%}>Nowy</option>
                  <option value="in_progress" {% if form_vals.fstatus == 'in_progress' %} selected {%endif%}>W trakcie</option>
                  <option value="ended" {% if form_vals.fstatus == 'ended' %} selected {%endif%}>Zakończony</option>
                </select>
             </th>
            <th class="small" scope="col">
               <div class="btn-group me-2" role="group" aria-label="">
               <button type="submit" class="btn btn-sm btn-outline-dark"><span class="bi bi-filter-square" title="Filtruj wyniki"></span>  </button>
               <a class="btn btn-sm btn-outline-dark" href="{% url 'message_center' %}" ><span class="bi bi-x-square" title="Wyczyść filtry"></span></a>
               </div>
             </th>
          </tr>
          </thead>
          </form>
          <tbody>
          {% for chat in chats %}
          <tr>
            <th class="small">
              <span class="bi {% if request.user.userrole.role == "admin" %}{% if not chat.last_seen_admin or chat.last_msg_date > chat.last_seen_admin %}bi-eye-slash-fill text-success{% else %}info{%endif%}{%endif%}{% if request.user.userrole.role == "operator" %}{% if not chat.last_seen_operator or chat.last_msg_date > chat.last_seen_operator %}bi-eye-slash-fill text-success{% else %}info{%endif%}{%endif%}{% if request.user.userrole.role == "user" %}{% if not chat.last_seen_user or chat.last_msg_date > chat.last_seen_user %}bi-eye-slash-fill text-success{% else %}info{%endif%}{% endif %} rounded-pill"> </span>
            </th>
            <td class="small" scope="col">{{ chat.created_by.first_name }} {{ chat.created_by.last_name }}</td>
            <td class="small" scope="col">{{ chat.title }}</td>
            <td class="small" scope="col">{{ chat.assigned_admin.first_name }} {{ chat.assigned_admin.last_name }}</td>
            <td class="small" scope="col">{{ chat.assigned_operator.first_name }} {{ chat.assigned_operator.last_name }}</td>
            <td class="small" scope="col">{{ chat.assigned_user.first_name }} {{ chat.assigned_user.last_name }}</td>
            <td class="small" scope="col">{{ chat.created_on }}</td>
            <td class="small" scope="col">
              {% if chat.status == 'new' %}
              Nowy
              {% elif chat.status == 'in_progress' %}
              W trakcie
              {% elif chat.status == 'ended' %}
              Zakończony
              {% endif %}
            </td>
            <td class="small" scope="col">
              <div class="btn-group me-2" role="group" aria-label="">
                <a class="btn btn-sm btn-outline-warning" href="{% url 'messages_view_chat' chat_id=chat.id %}"><span class="bi bi-eye" title="Otwórz Konwersację"></span></a>
                {% if request.user == chat.created_by or request.user.userrole.role == 'admin' %}
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete_chat{{ chat.id }}"><span class="bi bi-archive" title="Usuń pozycję"></span>  </button>
                {% block modal_delete %} {% include 'core/modals/delete_chat.html' %} {% endblock %}
                {% endif %}
              </div>
            </td></tr>

          {% endfor %}
          </tbody>
        </table>
        <!-- Paginacja -->
        {% with objects=chats%}
        {% block pagination %}
        {% include 'core/all/pagination.html' %}
        {% endblock %}
        {% endwith %}
        <!-- Paginacja -->
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.clear-btn').forEach(btn => {
  btn.addEventListener('click', function() {
  const th = this.closest('th');
  const input = th.querySelector('input.clearable-input');
  if (input) {
  input.value = '';
  input.focus()
  }});
  });
</script>

{% endblock %}